

@{
    ViewBag.Title = "UpcomingMatches";
}

<div class="row">
    <div style="float: left"> <h2><b>Upcoming Matches</b></h2></div>
    <div style="float: right"><h2><b> @Html.ActionLink("Finished Matches>", "FinishedMatches")</b></h2></div>
</div>
<hr />

@{
    bool IsAdmin = (bool)TempData["IsAdmin"];

    if (IsAdmin == true)
    {
        <p>
            @Html.ActionLink("Create New Match", "Create")
        </p>

        foreach (var item in Model)
        {
            int count = 1;
            TempData["Match" + count] = item;
            <div class="row">

                <div ALIGN="center">
                    <h3><b>@item.HomeTeam.TeamName - @item.AwayTeam.TeamName</b></h3>
                    <h4><b>@item.Date.ToShortDateString()</b></h4>  
                    <a href="@Url.Action("FinishMatch", "Match", new RouteValueDictionary { { "count", count} })" class="btn btn-default">End Match</a>
                </div>
            </div>
            <hr />
            count++;
        }
    }
    else
    {
        int count = 1;
        foreach (var item in Model)
        {
            TempData["Match" + count.ToString()] = item;
            <div class="row">
                
                <div ALIGN="center">
                    <h3><b>@item.HomeTeam.TeamName - @item.AwayTeam.TeamName</b></h3>
                    <h4><b>@item.Date.ToShortDateString()</b></h4>
                    <a href="@Url.Action("GetSelectedMatch", "Match", new RouteValueDictionary { { "count", count} })" class="btn btn-default">Bet</a>
                </div>
            </div>
            <hr />
            count++;
        }
    }


}
