@using BetBet.Model;

@{
    ViewBag.Title = "BetList";
}

<h2><b>Bets</b></h2>


<h3>Current bets</h3>
<hr />
<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Match
        </th>
        <th>
            Amount Placed
        </th>
        <th>
            Prediction
        </th>
        <th>

        </th>
    </tr>


    @foreach (var item in Model)
    {
        if (item.Match is UpcomingMatch)
        {
        <tr>
            <td>
                @item.Match.Date.ToShortDateString()
            </td>
            <td>
                @item.Match.HomeTeam.TeamName - @item.Match.AwayTeam.TeamName
            </td>
            <td>
                € @item.Amount
            </td>
            <td>
                  @item.Prediction.ToString()
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { betID = item.BetID, amount = item.Amount })
            </td>
        </tr>
        }

    }

</table>
<hr />
<br />

<h3>Ended bets</h3>
<hr />
<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Match
        </th>
        <th>
            Amount Placed
        </th>
        <th>
            Prediction
        </th>
        <th>
            Result
        </th>
        <th>
            Amount Earned
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Match is FinishedMatch)
        {
            <tr>
                <td>
                    @item.Match.Date.ToShortDateString()
                </td>
                <td>
                    @item.Match.HomeTeam.TeamName @item.Match.ScoreHome - @item.Match.ScoreAway @item.Match.AwayTeam.TeamName
                </td>
                <td>
                    € @item.Amount
                </td>
                <td>
                      @item.Prediction.ToString()
                </td>
                <td>
                      @item.Result.ToString()
                </td>
                <td>
                    € @item.Earned
                </td>

            </tr>
        }
    }

</table>



