
@{
    ViewBag.Title = "BetList";
}


<h2><b>Bets</b></h2>


@*-------------------------------Viewbag fixen en zorgen dat finished bets in apparte tabel komen-----------------------------*@
@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Status == true)
    {
        <div class="alert alert-success">
            <strong>Success!</strong>@ViewBag.Message
        </div>
    }
    if (ViewBag.Status == false)
    {
        <div class="alert alert-danger">
            <strong>Error!</strong>@ViewBag.Message
        </div>
    }
}

<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Match
        </th>
        <th>
            Amount
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Match.Date.ToShortDateString()
            </td>
            <td>
                @item.Match.HomeTeamName - @item.Match.AwayTeamName
            </td>
            <td>
                € @item.Amount
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { betID = item.BetID, amount = item.Amount })

            </td>
        </tr>
    }

</table>
