@model BetBet.Models.Bet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatchID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prediction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prediction)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
